* {
	padding:0;
	margin:0;
}
body {
	font-family: Verdana;
	font-size: 14px;
}

.highlighted-text {
	color: #FE7B02;
	/* text-transform: none; */
  }

.highlighted-text-my {
	color: #FE7B02;
	font-weight: 600;
	/* text-transform: none; */
  }

  .rec {
	display: inline-block;
	padding: 0.6rem 2.5rem;
	color: #ffffff !important;
	background-color: #FE7B02;
	border-radius: 40px;
	text-transform: capitalize;
	transition: 0.3s;
	box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.051);
  }

  .rec:hover{
	box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.051);
  }

  .cta a:hover {

	color: #ffffff;
	background: #383434;
	transition: 0.3s linear;
	}
  
  .btn:hover {
	background-color: var(--hoverColor);
	transform: scale(1) !important;
  }


a {
	color:#FE7B02;
}
a:hover {
	color:#FE7B02;
}
h1, h2, h3 {
	font-weight: 400;
}

.col-md-12 h3{
	color: #ffffff;
}

.col-md-12 h5 {
	font-weight:400;
	color: #ffffff;
}
.col-md-123 h5 {
	font-weight:400;
	color: #282828;
	font-size: 18px;
}

.col-md-123 p{
	color: #282828;
    font-size: 17px;
}
.col-md-12 h6 {
	font-weight:500;
	color: #ffffff;
}
h6, h4 {
	font-weight:400;
	color: #282828;
}

.white {
	color:#282828 !important;
	/* margin-top: 2em; */
	width: 90%;
}
.black {
	color:#282828;
}
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	background: transparent;
	z-index: 1030;
	padding-left: 20px;
}
.navbar .active {
	color: #FE7B02 !important;
}


.navbar .nav-item {
	margin: 0 20px;
	padding: 0;
}
.navbar .nav-item a {
	color: #262626;
	font-weight: 300;
	font-size: 14px;
    transition: 0.3s;
	padding-left: 30px;
}
.navbar .nav-item a:hover {
	color: #FE7B02;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.navbar .navbar-toggler {
	cursor: pointer;
}
.navbar .navbar-toggler span {
	color: #282828;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.nav-scroll {
	background: #ffffff;
	-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .navbar-nav > li > a {
	color: #282828;
}
.nav-scroll .navbar-brand img {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}
.nav-scroll .navbar-toggler {
	cursor: pointer;
}
.nav-scroll .navbar-toggler span {
	color: #282828;
}
.nav-scroll .nav-link:hover:after {
	background-color: #ffffff;
}
.nav-scroll .active {
	position: relative;
}

.rowahead{
	box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
	border-radius: 10px;
}

.banner {
	background: #ffffff;
	/* background: linear-gradient(to left, #7a60ff, #cd9ffa); */
	padding-top: 100px;
	padding-bottom: 5px;
	position:relative;
}
.banner::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/pattern.png);
}
.banner a.weblink {
	color:#ffffff;
	border-bottom:1px dotted #ffffff;
}
.banner a:hover {
	text-decoration:none;
}
.svg-wave {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.banner-text {
	/* padding-right: 80px; */
	margin: 80px 0px 0px;
}
.banner-text p {
	margin:40px 0px;
	font-size: 20px;
}
.banner-text ul {
	list-style: none;
}
.banner-text ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}
.banner-text ul li a {
	display: block;
}
.banner-text ul li a img {
	width: 150px;
	border-radius: 7px;
}
.prelative {
	position:relative
}
.section-padding {
	padding: 50px 0px;
}
.sectioner-header {
	width:69%;
	margin:0 auto;
}
.line {
	height: 2px;
	width: 50px;
	background: #FE7B02;
	display: block;
	margin: 20px auto 20px;
}
.line::after {
	content:"";
	position: absolute;
	left: 50%;
	width: 150px;
	height: 2px;
	border-bottom: 2px dashed #FE7B02;
	margin-left: -75px;
}
.sectioner-header p {
	color:#ffffff;
	font-size: 14px;
}
.section-content {
	margin-top: 40px;
}
.icon-box {
	margin-bottom:50px;
}
.icon-box i {
	display: block;
	position: relative;
	width: 135px;
	height: 135px;
	border-radius: 100px;
	background: #FE7B02;
	/* background:  linear-gradient(to left, #7a60ff, #cd9ffa); */
	color: #ffffff;
	font-size: 50px;
	line-height: 135px;
	margin: 0 auto;
}
.icon-box h5 {
	margin-top:30px;
}
.icon-box p {
	color: #818992;
	font-size: 14px;
	width: 80%;
	margin: 0 auto;
}
.about-btn {
	color: #FE7B02;
	padding: 10px 40px;
	border: 2px solid #FE7B02;
	border-radius: 7px;
	margin-top: 30px;
	display: inline-block;
	font-size: 18px;
}
.about-btn:hover {
	background:#FE7B02;
	color:#ffffff;
	text-decoration:none;
}
.video-section {
	background: url(images/video-bg.jpg) no-repeat fixed center;
	background-size: cover;
	overflow: hidden;
}
.video-overlay {
	background: linear-gradient(to left, rgba(255, 128, 17, 0.9), rgba(255, 128, 17, 0.9));
}
.video-section h3 {
	font-weight: 600;
	font-size: 18px;
}
.video-section i {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background: #ffffff;
	color: #FE7B02;
	font-size: 18px;
	line-height: 41px;
	margin: 0 auto;
	cursor:pointer;
}
.video-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	align-content: center !important;
	-ms-flex-line-pack: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}
.video-popup .video-src {
	position: relative;
	width: 700px;
	max-width: 80%;
}
.video-popup .iframe-src {
	width: 100%;
	height: 0;
	padding-top: 56.3%;
	position: relative;
	display: none;
}
.video-popup .iframe-src .myVideo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.single-feature {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 5px;
}
.single-feature h5 {
	font-size: 16px;
}
.media-right-margin {
	margin-right:25px;
}
.single-feature p {
	font-size: 12px;
	margin-top: 20px;
}

.icon-border span {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	color: #FE7B02;
	font-size: 18px;
	line-height: 30px;
	border: 1px solid #FE7B02;
}

.bx-prev {
	left: -90px !important;
	background: url(images/arrow-left.png) no-repeat !important;
	background-size: auto auto !important;
	background-size: 100% 100% !important;
}
.bx-next {
	right: -90px !important;
	background: url(images/arrow-right.png) no-repeat !important;
	background-size: auto auto !important;
	background-size: 100% 100% !important;
}
.bx-wrapper {
	border: none !important;
	background: rgba(255, 255, 255, 0.81) !important;
	border-radius: 5px !important;
	box-shadow:none !important;
}
.slider-item {
	padding:20px;
}
.slider .test-img img {
	border: 12px solid #fff;
	border-radius: 50%;
	width: 100%;
	height: auto;
}
.test-img {
	float: left;
	width: 20%;
	margin-right:5%;
}
.test-text {
	float: left;
	width: 75%;
}
.slider .title {
	display: block;
	position: relative;
	margin: 0 0 20px;
	font-size: 1.125em;
	line-height: 1.25;
}
.slider .title span {
	display: block;
	font-size: 1.5em;
	font-weight: 700;
}
.faq {
	background: #282828;
	border-bottom: 1px solid #e4e4e4;
}
.faq-content {
	margin: 0px 0px;
	padding-left: 50px;
	padding-right: 5px;
	/* margin-left: 40px; */
}
.faq-content h4 {
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
}
.faq-content p {
	color: #ffffff;
	font-weight:300;
	margin-top:14px;
	line-height: 1.2;
	font-size: 12px;
}
#contact_form .form-input {
	border: 1px solid #e4e4e4;
}
input {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:0;
}
#contact_form textarea {
	resize: none;
	padding: 1rem;
	height: 150px;
	background: #fff;
	border: 0;
	border-radius: 5px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn-grad {
 	padding: .5rem 1rem;
	display: inline-block;
	color: #fff;
	border-radius: 1rem;
	border: 0;
	background: #FE7B02;
	cursor:pointer;
}
.contact-info {
	padding: 0rem 2rem 1rem;
	border-radius: 8px;
	background: #282828;
	box-shadow: 0;
}

.contact {
	background-color: #282828;
}
.contact-item {
	margin:20px 0px;
}
.contact-item i {
	font-size: 20px;
}
.contact-item p {
	line-height: 20px;
	margin: 0;
	color: #ffffff;
}


.feature-box {
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.051);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 90%;
}

@media all and (max-width:991px) {
.navbar .navbar-collapse {
	overflow: auto;
	background:  rgb(255, 255, 255);
	color: #ffffff !important;
	text-align: center;
	padding: 10px 0;
	margin: 10px;
	border-radius: 10px;
	padding-right: 20px;
}
.nav-scroll .navbar-collapse {
	background: #fff !important;
}
#contact_form {
	margin-bottom:20px;
}
}
@media all and (max-width:768px) {
.nav-scroll .navbar-brand img, .navbar-brand img {
	transform: scale(0.75) !important;
	-webkit-transform: scale(0.75) !important;
}

.banner-text {
	padding-right: 0px;
	/* padding-top: 30px; */
	/* margin: 10px 0px 0px; */
	margin-top: 50px;
}
.banner-text p {
	font-size: 11px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 23px;
}
.section-padding {
	padding: 40px 0px;
}
.banner-text p {
	margin: 25px 0px;
}
.banner-text ul li a img {
	width: 140px;
	border-radius: 7px;
}
.sectioner-header {
	width: 90%;
}
.sectioner-header p {
	font-size: 14px;
	color: #ffffff;
}
.about-btn {
	padding: 5px 30px;
	margin-top: 0px;
	font-size: 16px;
}
.single-feature {
	margin-bottom: 6px;
	margin-top: 6px;
}

.bx-controls
{
	display:none;
}
.bx-wrapper {
	margin: 0px 20px !important;
}
.slider .test-img img {
	margin: 0 auto;
}
.test-img {
	float:none;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.test-text {
	float: none;
	width: 100%;
	text-align: center;
}
.section-content {
	margin-top: 10px;
}
.faq-content {
	/* margin: 10px 0px; */
	padding-left: 10px;
    padding-right: 10px;
}
.faq-content h4 {
	font-size: 16px;
}
.faq-content p {
	font-size: 11px;
}
#contact_form {
	margin-bottom:20px;
}
.contact-item {
	font-size: 12px;
}

.contact-info {
    padding: 0rem 1rem 0rem;
    background: #282828;
	font-size: 12px;
}

.contact-item p {
    line-height: 20px;
    margin: 0;
    color: #ffffff;
	font-size: 11px;
}

.social{
	color: #ffffff;
}
.social a{
	margin-right: 20px;
}


.col-md-4{
	box-shadow: #FE7B02;
	margin-bottom: 20px;
}


.feature-box {
	box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.051);
	padding: 20px; /* Optional: Add padding for spacing */
	margin-bottom: 10px; /* Optional: Add margin for spacing */
	border-radius: 10px;
	height: 100%;

  }

  @media (max-width: 768px) {
	.feature-box {
	  padding: 14px;
	  margin-left: 20px;
	  margin-right: 10px;
	  font-size: 12px;
	}
	.feature-box p{
	  font-size: 11px;
	}

	.col-md-12 h5 {
		font-weight:400;
		color: #ffffff;
		font-size: 18px;
	}

	.container {
		max-width: 900px;
	}

	.navbar .nav-item a {
		color: #262626;
		font-weight: 300;
		font-size: 12px;
		transition: 0.3s;
	}
  }


}